In [1]:
import matplotlib.pyplot as plt
import requests
from scipy import stats
import pandas as pd
import json
import csv
import requests
from pprint import pprint as pprint
from IPython.display import display as display

In [4]:
df="firms_with_femeals_managers.csv"

#Read files and store in pandas
df_firms = pd.read_csv(df)
df_firms

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,Firms with female top manager (% of firms),IC.FRM.FEMM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,Firms with female top manager (% of firms),IC.FRM.FEMM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4.7,NaN,NaN,NaN,NaN,NaN,NaN
2,Angola,AGO,Firms with female top manager (% of firms),IC.FRM.FEMM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,ALB,Firms with female top manager (% of firms),IC.FRM.FEMM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,12.2,NaN,NaN,NaN,NaN,NaN,18.1,NaN
4,Andorra,AND,Firms with female top manager (% of firms),IC.FRM.FEMM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,Firms with female top manager (% of firms),IC.FRM.FEMM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,9.3,NaN,NaN,NaN,NaN,NaN,2.7,NaN
260,"Yemen, Rep.",YEM,Firms with female top manager (% of firms),IC.FRM.FEMM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261,South Africa,ZAF,Firms with female top manager (% of firms),IC.FRM.FEMM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,Zambia,ZMB,Firms with female top manager (% of firms),IC.FRM.FEMM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,22.5,NaN,NaN,NaN,NaN,NaN,12.9,NaN
263,Zimbabwe,ZWE,Firms with female top manager (% of firms),IC.FRM.FEMM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,17.4,NaN,NaN,NaN,NaN,16.3,NaN,NaN,NaN,NaN

In [8]:

df_fill= df_firms.fillna(0)
df_fill

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,Firms with female top manager (% of firms),IC.FRM.FEMM.ZS,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Afghanistan,AFG,Firms with female top manager (% of firms),IC.FRM.FEMM.ZS,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,4.7,0.0,0.0,0.0,0.0,0.0,0.0
2,Angola,AGO,Firms with female top manager (% of firms),IC.FRM.FEMM.ZS,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Albania,ALB,Firms with female top manager (% of firms),IC.FRM.FEMM.ZS,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,12.2,0.0,0.0,0.0,0.0,0.0,18.1,0.0
4,Andorra,AND,Firms with female top manager (% of firms),IC.FRM.FEMM.ZS,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,Firms with female top manager (% of firms),IC.FRM.FEMM.ZS,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,9.3,0.0,0.0,0.0,0.0,0.0,2.7,0.0
260,"Yemen, Rep.",YEM,Firms with female top manager (% of firms),IC.FRM.FEMM.ZS,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0
261,South Africa,ZAF,Firms with female top manager (% of firms),IC.FRM.FEMM.ZS,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
262,Zambia,ZMB,Firms with female top manager (% of firms),IC.FRM.FEMM.ZS,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,22.5,0.0,0.0,0.0,0.0,0.0,12.9,0.0
263,Zimbabwe,ZWE,Firms with female top manager (% of firms),IC.FRM.FEMM.ZS,0.0,0.0,0.0,0.0,0.0,0.0,...,17.4,0.0,0.0,0.0,0.0,16.3,0.0,0.0,0.0,0.0