In [1]:
### Connect to local database
#import dependencies
from sqlalchemy.ext.automap import automap_base
from config import password
from sqlalchemy import create_engine
engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/constitution')
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

['constitution']

In [2]:
#read the SQL query 
import pandas as pd
constitution =pd.read_sql_query('select * from constitution', con=engine)

In [3]:
constitution.to_csv("Data/constitution.csv",index = False, header=True)

In [4]:
constitution.head()

,economy,code,region,income_group,non_discrimination_clause,non_discrimination_clause_explicit_to_sex,constitution_equality_clause,quota_corporate_board,legislative_quota_for_board
0,Afghanistan,AFG,South Asia,Low income,Yes,No,Yes,No quota,27%
1,Albania,ALB,Europe & Central Asia,Upper middle income,Yes,Yes,Yes,No quota,No quota
2,Algeria,DZA,Middle East & North Africa,Upper middle income,Yes,Yes,Yes,No quota,No quota
3,Angola,AGO,Sub-Saharan Africa,Lower middle income,Yes,Yes,Yes,No quota,No quota
4,Antigua and Barbuda,ATG,Latin America & Caribbean,High income,Yes,Yes,No,No quota,No quota

In [8]:
#importing manager csv
female_labor = pd.read_csv('Data/labor_participation.csv')
female_labor.head()
#removing additional years
female_labor_2018=female_labor[["country_code", "year_2018"]]
female_labor_2018.head()
#renaming 2018

female_labor_2018_final=female_labor_2018.rename(columns = {
    "year_2018" :"labor",
    "country_code": "code"
})
female_labor_2018_final.head()

  code      labor
0  ABW   0.000000
1  AFG  21.416000
2  AGO  76.141998
3  ALB  46.799000
4  AND   0.000000

In [9]:
logistic_regression1=pd.merge(female_labor_2018_final, constitution, how='inner', on=["code", "code"])
logistic_regression1.head()

,code,labor,economy,region,income_group,non_discrimination_clause,non_discrimination_clause_explicit_to_sex,constitution_equality_clause,quota_corporate_board,legislative_quota_for_board
0,AFG,21.416000,Afghanistan,South Asia,Low income,Yes,No,Yes,No quota,27%
1,AGO,76.141998,Angola,Sub-Saharan Africa,Lower middle income,Yes,Yes,Yes,No quota,No quota
2,ALB,46.799000,Albania,Europe & Central Asia,Upper middle income,Yes,Yes,Yes,No quota,No quota
3,ARE,52.352001,United Arab Emirates,Middle East & North Africa,High income,Yes,No,Yes,20%,No quota
4,ARG,50.821999,Argentina,Latin America & Caribbean,Upper middle income,No,N/A,Yes,No quota,No quota

In [10]:
logistic_regression= logistic_regression1.fillna("No")
logistic_regression.head()
logistic_regression["non_discrimination_clause_explicit_to_sex"].replace({"N/A": "No",
                                                         }, inplace=True)
test=logistic_regression["non_discrimination_clause_explicit_to_sex"]

In [11]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd

In [13]:
y = logistic_regression["non_discrimination_clause_explicit_to_sex"].values.reshape(-1, 1)
X = logistic_regression["labor"].values.reshape(-1, 1)
print(X.shape, y.shape)

(156, 1) (156, 1)

In [14]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [15]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [16]:
LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='ovr', n_jobs=1, penalty='l2', random_state=None,
                   solver='liblinear', tol=0.0001, verbose=0, warm_start=False)

In [17]:
classifier.fit(X_train, y_train)

C:\Users\mceky\anaconda3\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [18]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.5128205128205128
Testing Data Score: 0.6923076923076923

In [19]:
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   ['Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes']
First 10 Actual labels: [['No'], ['Yes'], ['..'], ['Yes'], ['No'], ['Yes'], ['Yes'], ['Yes'], ['Yes'], ['No']]

In [20]:
predictions.tolist()

['Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes']

In [21]:
y_test.tolist()

[['No'],
 ['Yes'],
 ['..'],
 ['Yes'],
 ['No'],
 ['Yes'],
 ['Yes'],
 ['Yes'],
 ['Yes'],
 ['No'],
 ['Yes'],
 ['No'],
 ['Yes'],
 ['Yes'],
 ['Yes'],
 ['Yes'],
 ['No'],
 ['Yes'],
 ['Yes'],
 ['No'],
 ['Yes'],
 ['Yes'],
 ['Yes'],
 ['No'],
 ['Yes'],
 ['No'],
 ['Yes'],
 ['Yes'],
 ['Yes'],
 ['Yes'],
 ['Yes'],
 ['Yes'],
 ['Yes'],
 ['No'],
 ['Yes'],
 ['No'],
 ['Yes'],
 ['Yes'],
 ['No']]

In [22]:

predictions = classifier.predict(X_test)
df=pd.DataFrame({"Prediction": predictions.tolist(), "Actual": y_test.tolist()})

In [23]:
df["Actual"]=df["Actual"].apply(lambda x: x[0])

In [24]:
df

   Prediction Actual
0         Yes     No
1         Yes    Yes
2         Yes     ..
3         Yes    Yes
4         Yes     No
5         Yes    Yes
6         Yes    Yes
7         Yes    Yes
8         Yes    Yes
9         Yes     No
10        Yes    Yes
11        Yes     No
12        Yes    Yes
13        Yes    Yes
14        Yes    Yes
15        Yes    Yes
16        Yes     No
17        Yes    Yes
18        Yes    Yes
19        Yes     No
20        Yes    Yes
21        Yes    Yes
22        Yes    Yes
23        Yes     No
24        Yes    Yes
25        Yes     No
26        Yes    Yes
27        Yes    Yes
28        Yes    Yes
29        Yes    Yes
30        Yes    Yes
31        Yes    Yes
32        Yes    Yes
33        Yes     No
34        Yes    Yes
35        Yes     No
36        Yes    Yes
37        Yes    Yes
38        Yes     No