In [23]:
### Connect to local database
#import dependencies
from sqlalchemy.ext.automap import automap_base
from config import password
from sqlalchemy import create_engine
engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/constitution')
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

['constitution']

In [24]:
#read the SQL query 
import pandas as pd
constitution =pd.read_sql_query('select * from constitution', con=engine)

In [25]:
constitution.to_csv("Data/constitution.csv",index = False, header=True)

In [26]:
constitution.head()

,economy,code,region,income_group,non_discrimination_clause,non_discrimination_clause_explicit_to_sex,constitution_equality_clause,quota_corporate_board,legislative_quota_for_board
0,Afghanistan,AFG,South Asia,Low income,Yes,No,Yes,No quota,27%
1,Albania,ALB,Europe & Central Asia,Upper middle income,Yes,Yes,Yes,No quota,No quota
2,Algeria,DZA,Middle East & North Africa,Upper middle income,Yes,Yes,Yes,No quota,No quota
3,Angola,AGO,Sub-Saharan Africa,Lower middle income,Yes,Yes,Yes,No quota,No quota
4,Antigua and Barbuda,ATG,Latin America & Caribbean,High income,Yes,Yes,No,No quota,No quota

In [28]:
female_parliament = pd.read_csv('Data/parliament_seats.csv')

#reducing columns
female_parliament_2018=female_parliament[["country_code", "year_2018"]]
female_parliament_2018.head()
#renaming 2018
female_parliament_2018_final=female_parliament_2018.rename(columns = {
    "year_2018" :"parliament",
    "country_code": "code"
})
female_parliament_2018_final.head()

  code  parliament
0  ALB   27.857143
1  DZA   25.757576
2  AND   32.142857
3  AGO   30.454545
4  ATG   11.111111

In [30]:
logistic_regression1=pd.merge(female_parliament_2018_final, constitution, how='inner', on=["code", "code"])
logistic_regression1

,code,parliament,economy,region,income_group,non_discrimination_clause,non_discrimination_clause_explicit_to_sex,constitution_equality_clause,quota_corporate_board,legislative_quota_for_board
0,ALB,27.857143,Albania,Europe & Central Asia,Upper middle income,Yes,Yes,Yes,No quota,No quota
1,DZA,25.757576,Algeria,Middle East & North Africa,Upper middle income,Yes,Yes,Yes,No quota,No quota
2,AGO,30.454545,Angola,Sub-Saharan Africa,Lower middle income,Yes,Yes,Yes,No quota,No quota
3,ATG,11.111111,Antigua and Barbuda,Latin America & Caribbean,High income,Yes,Yes,No,No quota,No quota
4,ARM,18.095238,Armenia,Europe & Central Asia,Lower middle income,Yes,Yes,Yes,No quota,No quota
...,...,...,...,...,...,...,...,...,...,...
121,UZB,16.000000,Uzbekistan,Europe & Central Asia,Lower middle income,Yes,Yes,Yes,No quota,No quota
122,VUT,0.000000,Vanuatu,East Asia & Pacific,Lower middle income,Yes,Yes,Yes,No quota,No quota
123,VNM,26.720648,Vietnam,East Asia & Pacific,Lower middle income,Yes,Yes,Yes,No quota,No quota
124,ZMB,17.964072,Zambia,Sub-Saharan Africa,Lower middle income,Yes,Yes,No,No quota,No quota
125,ZWE,31.481481,Zimbabwe,Sub-Saharan Africa,Low income,Yes,Yes,Yes,No quota,22%

In [53]:
logistic_regression= logistic_regression1.fillna("No")
logistic_regression.head()
logistic_regression["non_discrimination_clause_explicit_to_sex"].replace({"N/A": "No",
                                                         }, inplace=True)
test=logistic_regression[(logistic_regression["non_discrimination_clause_explicit_to_sex"]=="No")]
test.count()

code                                         55
parliament                                   55
economy                                      55
region                                       55
income_group                                 55
non_discrimination_clause                    55
non_discrimination_clause_explicit_to_sex    55
constitution_equality_clause                 55
quota_corporate_board                        55
legislative_quota_for_board                  55
dtype: int64

In [54]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd

In [55]:
y = logistic_regression["non_discrimination_clause_explicit_to_sex"].values.reshape(-1, 1)
X = logistic_regression["parliament"].values.reshape(-1, 1)
print(X.shape, y.shape)

(126, 1) (126, 1)

In [56]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [57]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [58]:
LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='ovr', n_jobs=1, penalty='l2', random_state=None,
                   solver='liblinear', tol=0.0001, verbose=0, warm_start=False)

In [59]:
classifier.fit(X_train, y_train)

C:\Users\mceky\anaconda3\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [60]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.5957446808510638
Testing Data Score: 0.375

In [61]:
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   ['Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes']
First 10 Actual labels: [['No'], ['Yes'], ['Yes'], ['No'], ['Yes'], ['No'], ['No'], ['Yes'], ['No'], ['No']]

In [62]:
predictions.tolist()

['Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes']

In [63]:
y_test.tolist()

[['No'],
 ['Yes'],
 ['Yes'],
 ['No'],
 ['Yes'],
 ['No'],
 ['No'],
 ['Yes'],
 ['No'],
 ['No'],
 ['No'],
 ['No'],
 ['No'],
 ['..'],
 ['No'],
 ['..'],
 ['Yes'],
 ['Yes'],
 ['Yes'],
 ['Yes'],
 ['No'],
 ['No'],
 ['No'],
 ['Yes'],
 ['Yes'],
 ['No'],
 ['No'],
 ['Yes'],
 ['No'],
 ['No'],
 ['Yes'],
 ['No']]

In [64]:

predictions = classifier.predict(X_test)
df=pd.DataFrame({"Prediction": predictions.tolist(), "Actual": y_test.tolist()})

In [65]:
df["Actual"]=df["Actual"].apply(lambda x: x[0])

In [44]:
df

   Prediction Actual
0         Yes     No
1         Yes    Yes
2         Yes    Yes
3         Yes     No
4         Yes    Yes
5         Yes     No
6         Yes     No
7         Yes    Yes
8         Yes     No
9         Yes     No
10        Yes     No
11        Yes     No
12        Yes     No
13        Yes     ..
14        Yes     No
15        Yes     ..
16        Yes    Yes
17        Yes    Yes
18        Yes    Yes
19        Yes    Yes
20        Yes     No
21        Yes     No
22        Yes     No
23        Yes    Yes
24        Yes    Yes
25        Yes     No
26        Yes     No
27        Yes    Yes
28        Yes     No
29        Yes     No
30        Yes    Yes
31        Yes     No