In [3]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
#importing manager csv
female_manager = pd.read_csv('Data/female_manager.csv')
female_manager.head()
#removing additional years
female_manager_2019=female_manager[["new_code", "year_2019"]]
female_manager_2019.head()
#renaming 2019

female_manager_2019_final=female_manager_2019.rename(columns = {
    "year_2019" :"manager"
})
female_manager_2019_final.head()

  new_code  manager
0       AW      0.0
1       AF      0.0
2       AO      0.0
3       AL     18.1
4       AD      0.0

In [4]:
#importing parliament
female_labor = pd.read_csv('Data/labor_participation.csv')
female_labor.head()
#reducing columns
female_labor_2019=female_labor[["new_code", "year_2019"]]
female_labor_2019.head()
#renaming 2019
female_labor_2019_final=female_labor_2019.rename(columns = {
    "year_2019" :"labor"
})
female_labor_2019_final.head()

  new_code  labor
0       AW   0.00
1       AF  21.59
2       AO  76.14
3       AL  46.71
4       AD   0.00

In [5]:
manager_regression=pd.merge(female_labor_2019_final, female_manager_2019_final, how='inner', on=["new_code", "new_code"])

In [6]:

manager_regression_final=manager_regression[(manager_regression["manager"]>0)]
manager_regression_final

    new_code  labor  manager
3         AL  46.71     18.1
12        AZ  63.41     16.5
18        BG  49.24     28.8
20        BA  35.39     16.6
40        CY  57.83      8.2
41        CZ  52.94     16.1
51        EE  57.10     22.5
59        GE  57.42     16.5
72        HR  45.45     27.0
74        HU  48.47     22.1
82        IT  40.76     15.3
84        JO  14.39      3.1
86        KZ  62.67     26.0
91        LB  22.87      5.9
97        LT  56.54     30.7
99        LV  55.72     32.6
100       MA  21.47      5.4
102       MD  40.49     18.6
108       MT  46.05     11.3
109       ME  46.48     15.0
110       MN  53.30     38.9
133       PL  48.63     27.8
135       PT  54.19     14.0
139       RO  45.31     17.2
140       RW  83.93     21.8
150       RS  47.41     18.2
152       SI  53.40     18.8
159       TJ  31.28      6.6
165       TR  34.01      3.9
169       UA  46.73     17.7
172       UZ  52.38     12.4
177       XK   0.00      2.7
179       ZM  70.37     12.9

In [ ]:
X = manager_regression_final[['labor']]
y = manager_regression_final["manager"].values.reshape(-1, 1)
print(X.shape, y.shape)

In [ ]:
# Split the data into training and testing

### BEGIN SOLUTION
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)
### END SOLUTION

In [ ]:
# from sklearn.preprocessing import StandardScaler
# ### BEGIN SOLUTION
# X_scaler = StandardScaler().fit(X_train)
# y_scaler = StandardScaler().fit(y_train)

In [ ]:
# X_train_scaled = X_scaler.transform(X_train)
# X_test_scaled = X_scaler.transform(X_test)
# y_train_scaled = y_scaler.transform(y_train)
# y_test_scaled = y_scaler.transform(y_test)

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)

In [ ]:
LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
predictions = model.predict(X_test)
model.fit(X_train, y_train)
plt.scatter(model.predict(X_train), model.predict(X_train) - y_train, c="blue", label="Training Data")
plt.scatter(model.predict(X_test), model.predict(X_test) - y_test, c="orange", label="Testing Data")
plt.legend()
plt.hlines(y=0, xmin=y_test.min(), xmax=y_test.max())
plt.title("Plot")
plt.show()

In [ ]:
from sklearn.metrics import mean_squared_error

MSE = mean_squared_error(y_test, predictions)
r2 = model.score(X_test, y_test)
### END SOLUTION

print(f"MSE: {MSE}, R2: {r2}")

In [ ]:
from sklearn.linear_model import Lasso

### BEGIN SOLUTION
lasso = Lasso(alpha=.01).fit(X_train_scaled, y_train_scaled)

predictions = lasso.predict(X_test_scaled)

MSE = mean_squared_error(y_test_scaled, predictions)
r2 = lasso.score(X_test_scaled, y_test_scaled)
print(f"MSE: {MSE}, R2: {r2}")

In [ ]:
# Ridge model
# Note: Use an alpha of .01 when creating the model for this activity
from sklearn.linear_model import Ridge

### BEGIN SOLUTION
ridge = Ridge(alpha=.01).fit(X_train, y_train)

predictions = ridge.predict(X_test)

MSE = mean_squared_error(y_test, predictions)
r2 = ridge.score(X_test, y_test)
### END SOLUTION

print(f"MSE: {MSE}, R2: {r2}")

In [ ]:
# ElasticNet model
# Note: Use an alpha of .01 when creating the model for this activity
from sklearn.linear_model import ElasticNet

### BEGIN SOLUTION
elasticnet = ElasticNet(alpha=.01).fit(X_train_scaled, y_train_scaled)

predictions = elasticnet.predict(X_test_scaled)

MSE = mean_squared_error(y_test_scaled, predictions)
r2 = elasticnet.score(X_test_scaled, y_test_scaled)
### END SOLUTION

print(f"MSE: {MSE}, R2: {r2}")

In [ ]:
manager_regression_final

In [ ]:
manager_regression_final.head()

In [12]:
X = manager_regression_final["labor"]
y = manager_regression_final["manager"].values.reshape(-1,1)

In [13]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y,test_size = 0.2, random_state=42)

In [14]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn import metrics

regressor_model = DecisionTreeRegressor(max_depth = 8, min_samples_leaf=150)
regressor_model = regressor_model.fit(X_train, y_train)

ValueError: Expected 2D array, got 1D array instead:
array=[48.63 62.67 46.71 57.83 21.47 52.94 22.87 14.39 83.93 63.41 49.24 46.73
 35.39 31.28 45.31 52.38 54.19 46.05 47.41 57.1  53.3  70.37 57.42 40.76
 56.54 34.01].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.